In [2]:
import pandas as pd
import numpy as np

In [4]:
train = pd.read_csv('dataset/train.csv')
test = pd.read_csv('dataset/test.csv')

In [8]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
# Meu modelo só aceita variáveis numéricas
modelo = RandomForestClassifier(n_estimators=100,n_jobs=1,random_state=0)

In [16]:
variaveis = ['Sex_binario','Age']

In [17]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [18]:
#Tranformando a variavel Sex em uma variável numérica
# Como só há dois tipos de sexo, então podemos trandormar para uma variávelbinário
def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else:
        return 0

In [20]:
train['Sex_binario'] = train['Sex'].map(transformar_sexo)

In [22]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [27]:
# variáveis de entrada
x = train[variaveis]
# variável que quero prever
y = train['Survived']

Em alguns modelos eles não aceitam variáveis de entrada com valores vazios, que é nosso caso.
Para isso, precisamos preencher os campos que estão valor, com algo que não atrapalhe o modelo

In [32]:
x = x.fillna(-1)

In [34]:
modelo.fit(x,y)

RandomForestClassifier(n_jobs=1, random_state=0)

In [37]:
test['Sex_binario'] = test['Sex'].map(transformar_sexo)

In [43]:
x_pred = test[variaveis]
x_pred = x_pred.fillna(-1)

In [47]:
p = modelo.predict(x_pred)

In [51]:
#parâmetro name tem a função de rotular o cabeçalho
sub = pd.Series(p,index=test['PassengerId'],name='Survived')

In [54]:
sub.to_csv("dataset/primeiro_modelo.csv", header=True)

In [55]:
!head -n10 dataset/primeiro_modelo.csv

PassengerId,Survived
892,0
893,1
894,0
895,1
896,1
897,0
898,1
899,0
900,1